/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, Arial, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-main);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: repeating-linear-gradient(var(--grad-color-second), var(--grad-color-second) 2px, var(--grad-color) 2px, var(--grad-color) 4px),
  repeating-linear-gradient(-90deg, var(--grad-color-second), var(--grad-color-second) 2px, var(--grad-color) 2px, var(--grad-color) 4px),
  linear-gradient(var(--grad-color-start), var(--grad-color-start) var(--grad-start), var(--grad-color-end));
  background-size: cover;
}

.general {
  inline-size: clamp(375px, 16.285rem + 30.516vw, 700px);
}

.header {
  block-size: clamp(327px, 17.481rem + 12.615vw, 368px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin: 100px auto;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.header__text {
  line-height: 1em;
  font-family: "PressStart2P", "Arial";
}

.header__title {
  font-size: clamp(49px, 1.909rem + 4.923vw, 65px);
  margin-block-end: 20px;
}

.header__title-general {
  font-size: clamp(14px, 0.226rem + 2.769vw, 23px);
  margin-block-end: 25px;
}

.header__theme-menu {
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  position: relative;
}

.theme-menu__button:disabled {
  opacity: 60%;
}

.theme-menu__button:disabled:before {
  content: '▶';
  color: currentColor;
  inline-size: 14px;
  left: -17px;
  position: absolute;
}
